[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/pboettch_json-schema-validator"]
	path = thirdparty/pboettch_json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
